body {
  width: 300px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f8f3ff;
  color: #333;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  border-bottom: 2px solid #d1c4e9;
  padding-bottom: 5px;
  margin-bottom: 20px;
  color: #5e35b1;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
  outline: none;
  transform: none;
  background-position: 0 0;
  user-select: auto;
  box-shadow: none;
  cursor: auto;
  overflow: visible;
}

button,
select,
input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  background-color: #d1c4e9;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
  background-color: #9575cd;
  transform: scale(1.05);
}

#preview {
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#pen-button {
  background: none;
  padding: 0;
}

#pen-button img {
  width: 40px;
  height: 40px;
  transition: transform 0.2s;
}

#pen-button:hover img {
  transform: scale(1.1);
}

#textInput,
#editOptions {
  border: 2px solid #d1c4e9;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#textInput:focus,
#editOptions:focus {
  border-color: #9575cd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  outline: none;
}

#generated-image {
  margin-top: 20px;
  text-align: center;
}

#generated-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
